In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#Importing Libraries

In [ ]:
#importing pandas & numpy libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib.gridspec as gridspec
from matplotlib.gridspec import GridSpec

import seaborn as sns

#Some styling
sns.set_style("darkgrid")
plt.style.use("fivethirtyeight")

# Disable warnings
import warnings
warnings.filterwarnings('ignore')

In [ ]:
#mounting Google Drive in Google Colab

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#**Data Collection**

In [ ]:
#loading dataset

df=pd.read_csv('/content/drive/MyDrive/telcom_data.csv')

In [ ]:
#display dataset

df.head(5)

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9164566995485190,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [ ]:
df.shape

(150001, 55)

#**Data Cleaning**

In [ ]:

df.isnull().sum()

Bearer Id                                      991
Start                                            1
Start ms                                         1
End                                              1
End ms                                           1
Dur. (ms)                                        1
IMSI                                           570
MSISDN/Number                                 1066
IMEI                                           572
Last Location Name                            1153
Avg RTT DL (ms)                              27829
Avg RTT UL (ms)                              27812
Avg Bearer TP DL (kbps)                          1
Avg Bearer TP UL (kbps)                          1
TCP DL Retrans. Vol (Bytes)                  88146
TCP UL Retrans. Vol (Bytes)                  96649
DL TP < 50 Kbps (%)                            754
50 Kbps < DL TP < 250 Kbps (%)                 754
250 Kbps < DL TP < 1 Mbps (%)                  754
DL TP > 1 Mbps (%)                             754
UL TP < 10 Kbps (%)                            792
10 Kbps < UL TP < 50 Kbps (%)                  792
50 Kbps < UL TP < 300 Kbps (%)                 792
UL TP > 300 Kbps (%)                           792
HTTP DL (Bytes)                              81474
HTTP UL (Bytes)                              81810
Activity Duration DL (ms)                        1
Activity Duration UL (ms)                        1
Dur. (ms).1                                      1
Handset Manufacturer                           572
Handset Type                                   572
Nb of sec with 125000B < Vol DL              97538
Nb of sec with 1250B < Vol UL < 6250B        92894
Nb of sec with 31250B < Vol DL < 125000B     93586
Nb of sec with 37500B < Vol UL              130254
Nb of sec with 6250B < Vol DL < 31250B       88317
Nb of sec with 6250B < Vol UL < 37500B      111843
Nb of sec with Vol DL < 6250B                  755
Nb of sec with Vol UL < 1250B                  793
Social Media DL (Bytes)                          0
Social Media UL (Bytes)                          0
Google DL (Bytes)                                0
Google UL (Bytes)                                0
Email DL (Bytes)                                 0
Email UL (Bytes)                                 0
Youtube DL (Bytes)                               0
Youtube UL (Bytes)                               0
Netflix DL (Bytes)                               0
Netflix UL (Bytes)                               0
Gaming DL (Bytes)                                0
Gaming UL (Bytes)                                0
Other DL (Bytes)                                 0
Other UL (Bytes)                                 0
Total UL (Bytes)                                 1
Total DL (Bytes)                                 1
dtype: int64

In [ ]:
columns_to_drop = df.columns[df.isnull().sum() > 85000]

In [ ]:
df = df.drop(columns = columns_to_drop)

In [ ]:
df.shape

(150001, 47)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 47 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Bearer Id                       149010 non-null  float64
 1   Start                           150000 non-null  object
 2   Start ms                        150000 non-null  float64
 3   End                             150000 non-null  object
 4   End ms                          150000 non-null  float64
 5   Dur. (ms)                       150000 non-null  float64
 6   IMSI                            149431 non-null  float64
 7   MSISDN/Number                   148935 non-null  float64
 8   IMEI                            149429 non-null  float64
 9   Last Location Name              148848 non-null  object
 10  Avg RTT DL (ms)                 122172 non-null  float64
 11  Avg RTT UL (ms)                 122189 non-null  float64
 12  Avg Bearer TP DL (kbps)         150000 non-null  float64
 13  Avg Bearer TP UL (kbps)         150000 non-null  float64
 14  DL TP < 50 Kbps (%)             149247 non-null  float64
 15  50 Kbps < DL TP < 250 Kbps (%)  149247 non-null  float64
 16  250 Kbps < DL TP < 1 Mbps (%)   149247 non-null  float64
 17  DL TP > 1 Mbps (%)              149247 non-null  float64
 18  UL TP < 10 Kbps (%)             149209 non-null  float64
 19  10 Kbps < UL TP < 50 Kbps (%)   149209 non-null  float64
 20  50 Kbps < UL TP < 300 Kbps (%)  149209 non-null  float64
 21  UL TP > 300 Kbps (%)            149209 non-null  float64
 22  HTTP DL (Bytes)                 68527 non-null   float64
 23  HTTP UL (Bytes)                 68191 non-null   float64
 24  Activity Duration DL (ms)       150000 non-null  float64
 25  Activity Duration UL (ms)       150000 non-null  float64
 26  Dur. (ms).1                     150000 non-null  float64
 27  Handset Manufacturer            149429 non-null  object
 28  Handset Type                    149429 non-null  object
 29  Nb of sec with Vol DL < 6250B   149246 non-null  float64
 30  Nb of sec with Vol UL < 1250B   149208 non-null  float64
 31  Social Media DL (Bytes)         150001 non-null  float64
 32  Social Media UL (Bytes)         150001 non-null  float64
 33  Google DL (Bytes)               150001 non-null  float64
 34  Google UL (Bytes)               150001 non-null  float64
 35  Email DL (Bytes)                150001 non-null  float64
 36  Email UL (Bytes)                150001 non-null  float64
 37  Youtube DL (Bytes)              150001 non-null  float64
 38  Youtube UL (Bytes)              150001 non-null  float64
 39  Netflix DL (Bytes)              150001 non-null  float64
 40  Netflix UL (Bytes)              150001 non-null  float64
 41  Gaming DL (Bytes)               150001 non-null  float64
 42  Gaming UL (Bytes)               150001 non-null  float64
 43  Other DL (Bytes)                150001 non-null  float64
 44  Other UL (Bytes)                150001 non-null  float64
 45  Total UL (Bytes)                150000 non-null  float64
 46  Total DL (Bytes)                150000 non-null  float64
dtypes: float64(42), object(5)
memory usage: 53.8+ MB

# **Feature Engineering**

#checking numerical and object columns

In [ ]:
numerical_columns = df.select_dtypes(include='float').columns

In [ ]:
categorical_columns = df.select_dtypes(include='object').columns

###Filling missing values of numerical columns with mean of that column

In [ ]:
df[numerical_columns] = df[numerical_columns].fillna(df[numerical_columns].mean())

###Filling missing values of object columns with mode of that column

In [ ]:
df[categorical_columns] = df[categorical_columns].fillna(df[categorical_columns].mode())

In [ ]:
df.isnull().sum()

Bearer Id                            0
Start                                1
Start ms                             0
End                                  1
End ms                               0
Dur. (ms)                            0
IMSI                                 0
MSISDN/Number                        0
IMEI                                 0
Last Location Name                1153
Avg RTT DL (ms)                      0
Avg RTT UL (ms)                      0
Avg Bearer TP DL (kbps)              0
Avg Bearer TP UL (kbps)              0
DL TP < 50 Kbps (%)                  0
50 Kbps < DL TP < 250 Kbps (%)       0
250 Kbps < DL TP < 1 Mbps (%)        0
DL TP > 1 Mbps (%)                   0
UL TP < 10 Kbps (%)                  0
10 Kbps < UL TP < 50 Kbps (%)        0
50 Kbps < UL TP < 300 Kbps (%)       0
UL TP > 300 Kbps (%)                 0
HTTP DL (Bytes)                      0
HTTP UL (Bytes)                      0
Activity Duration DL (ms)            0
Activity Duration UL (ms)            0
Dur. (ms).1                          0
Handset Manufacturer               572
Handset Type                       572
Nb of sec with Vol DL < 6250B        0
Nb of sec with Vol UL < 1250B        0
Social Media DL (Bytes)              0
Social Media UL (Bytes)              0
Google DL (Bytes)                    0
Google UL (Bytes)                    0
Email DL (Bytes)                     0
Email UL (Bytes)                     0
Youtube DL (Bytes)                   0
Youtube UL (Bytes)                   0
Netflix DL (Bytes)                   0
Netflix UL (Bytes)                   0
Gaming DL (Bytes)                    0
Gaming UL (Bytes)                    0
Other DL (Bytes)                     0
Other UL (Bytes)                     0
Total UL (Bytes)                     0
Total DL (Bytes)                     0
dtype: int64

In [ ]:
df['Start'] =df['Start'].fillna(df['Start'].mode()[0])
df['End'] = df['End'].fillna(df['End'].mode()[0])
df['Last Location Name'] = df['Last Location Name'].fillna(df['Last Location Name'].mode()[0])
df['Handset Manufacturer'] = df['Handset Manufacturer'].fillna(df['Handset Manufacturer'].mode()[0])
df['Handset Type'] = df['Handset Type'].fillna(df['Handset Type'].mode()[0])
df['MSISDN/Number'] = df['Handset Type'].fillna(df['Handset Type'].mode()[0])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 47 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Bearer Id                       150001 non-null  float64
 1   Start                           150001 non-null  object
 2   Start ms                        150001 non-null  float64
 3   End                             150001 non-null  object
 4   End ms                          150001 non-null  float64
 5   Dur. (ms)                       150001 non-null  float64
 6   IMSI                            150001 non-null  float64
 7   MSISDN/Number                   150001 non-null  object
 8   IMEI                            150001 non-null  float64
 9   Last Location Name              150001 non-null  object
 10  Avg RTT DL (ms)                 150001 non-null  float64
 11  Avg RTT UL (ms)                 150001 non-null  float64
 12  Avg Bearer TP DL (kbps)         150001 non-null  float64
 13  Avg Bearer TP UL (kbps)         150001 non-null  float64
 14  DL TP < 50 Kbps (%)             150001 non-null  float64
 15  50 Kbps < DL TP < 250 Kbps (%)  150001 non-null  float64
 16  250 Kbps < DL TP < 1 Mbps (%)   150001 non-null  float64
 17  DL TP > 1 Mbps (%)              150001 non-null  float64
 18  UL TP < 10 Kbps (%)             150001 non-null  float64
 19  10 Kbps < UL TP < 50 Kbps (%)   150001 non-null  float64
 20  50 Kbps < UL TP < 300 Kbps (%)  150001 non-null  float64
 21  UL TP > 300 Kbps (%)            150001 non-null  float64
 22  HTTP DL (Bytes)                 150001 non-null  float64
 23  HTTP UL (Bytes)                 150001 non-null  float64
 24  Activity Duration DL (ms)       150001 non-null  float64
 25  Activity Duration UL (ms)       150001 non-null  float64
 26  Dur. (ms).1                     150001 non-null  float64
 27  Handset Manufacturer            150001 non-null  object
 28  Handset Type                    150001 non-null  object
 29  Nb of sec with Vol DL < 6250B   150001 non-null  float64
 30  Nb of sec with Vol UL < 1250B   150001 non-null  float64
 31  Social Media DL (Bytes)         150001 non-null  float64
 32  Social Media UL (Bytes)         150001 non-null  float64
 33  Google DL (Bytes)               150001 non-null  float64
 34  Google UL (Bytes)               150001 non-null  float64
 35  Email DL (Bytes)                150001 non-null  float64
 36  Email UL (Bytes)                150001 non-null  float64
 37  Youtube DL (Bytes)              150001 non-null  float64
 38  Youtube UL (Bytes)              150001 non-null  float64
 39  Netflix DL (Bytes)              150001 non-null  float64
 40  Netflix UL (Bytes)              150001 non-null  float64
 41  Gaming DL (Bytes)               150001 non-null  float64
 42  Gaming UL (Bytes)               150001 non-null  float64
 43  Other DL (Bytes)                150001 non-null  float64
 44  Other UL (Bytes)                150001 non-null  float64
 45  Total UL (Bytes)                150001 non-null  float64
 46  Total DL (Bytes)                150001 non-null  float64
dtypes: float64(41), object(6)
memory usage: 53.8+ MB

In [ ]:
df.describe()

,Bearer Id,Start ms,End ms,Dur. (ms),IMSI,IMEI,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps),...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
count,1.500010e+05,150001.000000,150001.000000,1.500010e+05,1.500010e+05,1.500010e+05,150001.000000,150001.000000,150001.000000,150001.000000,...,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05
mean,1.013887e+19,499.188200,498.800880,1.046086e+05,2.082016e+14,4.847455e+13,109.795706,17.662883,13300.045927,1770.428647,...,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,4.112121e+07,4.546434e+08
std,2.883600e+18,288.610872,288.096693,8.103735e+04,2.144722e+10,2.237359e+13,559.342620,76.529933,23971.798635,4625.340082,...,6.710569e+06,6.345423e+06,6.725218e+06,6.359490e+06,2.439675e+08,4.782700e+06,2.432050e+08,4.769004e+06,1.127635e+07,2.441421e+08
min,6.917538e+18,0.000000,0.000000,7.142000e+03,2.040471e+14,4.400152e+11,0.000000,0.000000,0.000000,0.000000,...,5.300000e+01,1.050000e+02,4.200000e+01,3.500000e+01,2.516000e+03,5.900000e+01,3.290000e+03,1.480000e+02,2.866892e+06,7.114041e+06
25%,7.349883e+18,250.000000,251.000000,5.744200e+04,2.082014e+14,3.546261e+13,35.000000,3.000000,43.000000,47.000000,...,5.833501e+06,5.517965e+06,5.777156e+06,5.475981e+06,2.104733e+08,4.128476e+06,2.101869e+08,4.145943e+06,3.322203e+07,2.431072e+08
50%,7.349883e+18,499.000000,500.000000,8.639900e+04,2.082015e+14,3.572241e+13,54.000000,7.000000,63.000000,63.000000,...,1.161602e+07,1.101345e+07,1.164222e+07,1.099638e+07,4.234081e+08,8.291208e+06,4.218030e+08,8.267071e+06,4.114324e+07,4.558409e+08
75%,1.304243e+19,749.000000,750.000000,1.324300e+05,2.082018e+14,8.611970e+13,109.795706,17.662883,19710.000000,1120.000000,...,1.744852e+07,1.651556e+07,1.747048e+07,1.650727e+07,6.331742e+08,1.243162e+07,6.316918e+08,1.238415e+07,4.903424e+07,6.657051e+08
max,1.318654e+19,999.000000,999.000000,1.859336e+06,2.140743e+14,9.900120e+13,96923.000000,7120.000000,378160.000000,58613.000000,...,2.325910e+07,2.201196e+07,2.325919e+07,2.201196e+07,8.434419e+08,1.655879e+07,8.434425e+08,1.655882e+07,7.833131e+07,9.029696e+08